@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__body {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 26px 0;
}

.header__logo {
  max-width: 250px;
  padding: 10px 0 0 0;
}
.header__logo img {
  width: 100%;
  height: auto;
}

.header__block1 {
  width: 400px;
}

.header__contacts {
  display: flex;
  justify-content: center;
  padding: 17px 0 0 0;
  margin-bottom: 33px;
}

.phone {
  display: inline-block;
  background: url("../../img/icons/phone.png") 0 50% no-repeat;
  padding: 0 0 0 20px;
}
.phone a {
  color: #34495e;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
.phone a span {
  font-weight: 400;
}

.phone + .phone {
  margin-left: 28px;
}

.header__search form {
  width: 100%;
  position: relative;
}
.header__search input, .header__search button {
  border: none;
  outline: none;
  height: 40px;
  background-color: #ecf0f1;
}
.header__search button {
  width: 16px;
  height: 17px;
  position: absolute;
  right: 20px;
  bottom: 12px;
  background: url("../../img/icons/magnifying_glass_unactive.png") 0 0 no-repeat;
}
.header__search button:hover {
  background: url("../../img/icons/magnifying_glass_active.png") 0 0 no-repeat;
}
.header__search input {
  width: 100%;
  padding: 14px 40px 14px 20px;
  border-radius: 5px;
  color: #34495e;
  font-size: 14px;
}
.header__search input::-webkit-input-placeholder {
  color: #bdc3c7;
}
.header__search input::-moz-placeholder {
  color: #bdc3c7;
}
.header__search input:-moz-placeholder {
  color: #bdc3c7;
}
.header__search input:-ms-input-placeholder {
  color: #bdc3c7;
}

.header__block2 {
  width: 262px;
  display: flex;
  flex-direction: column;
}

.header__authorization {
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

.logIn, .reg {
  color: #95a5a6;
  font-size: 16px;
  cursor: pointer;
}

.logIn {
  background: url("../../img/icons/key.png") 10px 0 no-repeat;
  border-right: 1px solid #ecf0f1;
  padding: 0 9px 0 30px;
}
.logIn:hover {
  color: #34495e;
  background: url("../../img/icons/key_hover.png") 10px 0 no-repeat;
}

.reg {
  background: url("../../img/icons/lock.png") 10px 0 no-repeat;
  padding: 0 9px 0 25px;
}
.reg:hover {
  color: #34495e;
  background: url("../../img/icons/lock_hover.png") 10px 0 no-repeat;
}

.header__cart {
  display: flex;
  justify-content: space-around;
  background-color: #ecf0f1;
  border-radius: 4px;
  padding: 11px 0;
}

.header__cart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin-left: 10px;
}

.header__cart-info {
  padding: 5px 7px 0 0;
}

.info {
  color: #34495e;
  font-size: 16px;
}
.info span:first-child {
  color: #2ecc71;
}

.info + .info {
  margin-top: 7px;
}

.nav-top {
  background-color: #34495e;
}

.menu {
  display: flex;
  justify-content: space-between;
}
.menu li {
  background: url("../../img/icons/leaves.png") 0 0 no-repeat;
  padding: 0 0 0 30px;
}
.menu li:first-child {
  background: none;
  padding: 0;
}
.menu a {
  color: #ffffff;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.menu a:hover {
  color: #2ecc71;
}

.menu-top {
  padding: 25px 0 24px 0;
}

.under-header {
  height: 561px;
  background: url("../../img/bg_green.png") 0 0 no-repeat, url("../../img/first_sec_bg.png") 0 0/cover no-repeat;
}

.under-header__body {
  display: flex;
  padding: 30px 0;
}

.catalog {
  width: 263px;
}

.catalog__title {
  padding: 16px 0 24px 59px;
  color: #ffffff;
  background-color: #2ecc71;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
}
.catalog__title::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 24px;
  background: url("../../img/icons/leaves_big.png") 0 0 no-repeat;
  margin-right: 7px;
}

.catalog__menu-lvl1 {
  background-color: #ecf0f1;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
}
.catalog__menu-lvl1 li {
  position: relative;
}
.catalog__menu-lvl1 li:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #2ecc71;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 15px;
}
.catalog__menu-lvl1 li:after {
  content: "";
  position: absolute;
  display: block;
  width: 88%;
  border-bottom: 1px solid #2ecc71;
  left: 6%;
  top: 100%;
}
.catalog__menu-lvl1 li:last-child {
  border-radius: 0 0 5px 5px;
}
.catalog__menu-lvl1 li:last-child::after {
  display: none;
}
.catalog__menu-lvl1 li:hover {
  background-color: #34495e;
}
.catalog__menu-lvl1 li:hover a {
  color: #ffffff;
}
.catalog__menu-lvl1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 21px 10px 26px 29px;
  color: #34495e;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.375;
}

.catalog__menu-lvl1 li:last-child:hover .catalog__menu-lvl2 {
  visibility: visible;
  opacity: 1;
}

.catalog__menu-lvl2 {
  position: absolute;
  right: -100%;
  top: 0;
  transition: all 0.3s ease-in;
  background-color: #2ecc71;
  max-width: 263px;
  visibility: hidden;
  opacity: 0;
  z-index: 11;
}
.catalog__menu-lvl2 li::before {
  background-color: #fff;
}
.catalog__menu-lvl2 li:after {
  border-bottom: 1px solid #fff;
}
.catalog__menu-lvl2 li:hover {
  background-color: #27ae60;
}
.catalog__menu-lvl2 li a {
  color: #fff;
}

.under-header__slider {
  width: 847px;
  margin-left: 30px;
}

.under-header__slide {
  width: 100%;
  background: url("../../img/cakes.png") 0 0 no-repeat;
}

.under-header__pagination {
  bottom: 20px !important;
}

.under-header__slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 1px solid #ffffff;
  background: none;
}

.under-header__slider .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.promo {
  padding: 30px 29px 0 0;
  position: relative;
}

.title {
  color: #34495e;
  font-size: 44px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 53px;
  text-transform: uppercase;
}

.promo__title {
  text-align: right;
  margin-bottom: 9px;
}

.promo__description {
  color: #34495e;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.promo__btn {
  display: inline-block;
  background-color: #34495e;
  padding: 15px 45px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  position: absolute;
  right: 29px;
  margin-top: 38px;
}

.advantages {
  background-color: #ecf0f1;
}

.advantages__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 77px 0;
}

.advantages__title {
  margin-bottom: 68px;
}

.advantages__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}

.advantages__item {
  max-width: 245px;
}

.advantages__img {
  text-align: center;
  margin-bottom: 25px;
}

.advantages__text {
  color: #34495e;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
}

.hits, .promo, .new {
  display: none;
}

.hits.active, .promo.active, .new.active {
  display: block;
}

.deals__body {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.tabs::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ecf0f1;
  position: absolute;
  z-index: -1;
}

.arrow-left, .arrow-right {
  width: 41px;
  height: 41px;
  border: 2px solid #ecf0f1;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  background: url("../../img/icons/left_arrow.png") center no-repeat, #ecf0f1;
}
.arrow-left:hover, .arrow-right:hover {
  background-color: #34495e;
  border-color: #34495e;
  background-image: url("../../img/icons/left_arrow_hover.png");
}

.arrow-right {
  background: url("../../img/icons/right_arrow.png") center no-repeat, #ecf0f1;
}
.arrow-right:hover {
  background-image: url("../../img/icons/right_arrow_hover.png");
}

.tabs__body {
  display: flex;
}

.tabs__item {
  width: 263px;
  position: relative;
  border: 2px solid #ecf0f1;
  background-color: #ecf0f1;
  color: #34495e;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 21px 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.tabs__item:hover {
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
}
.tabs__item:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 15px;
  height: 15px;
  background-color: #34495e;
  transform: rotate(45deg);
  left: 48%;
  top: 85%;
  transition: all 0.1s ease-in;
}

.tabs__item.active {
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
}

.tabs__item.active.tabs__item::after {
  visibility: visible;
  opacity: 1;
}

.tabs__item + .tabs__item {
  margin-left: 20px;
}

.row-items {
  position: relative;
  padding: 80px 0 160px 0;
}

.row-items__body {
  display: flex;
  justify-content: space-between;
}

.row__item {
  width: 263px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ecf0f1;
  width: 100%;
  height: 263px;
  transition: all 0.3s ease-in;
}
.row__img img {
  max-width: 100%;
  height: auto;
}
.row__img:hover {
  border: 1px solid #2ecc71;
}

.bage__hit {
  position: absolute;
  width: 49px;
  height: 49px;
  top: -1px;
  right: 0;
  background-color: #e67e22;
  border-radius: 50% 0 50% 50%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 49px;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(34, 60, 80, 0.25);
}

.bage__in-stock {
  position: absolute;
  display: inline-block;
  bottom: -1px;
  left: 0;
  border-radius: 10px 10px 10px 0;
  padding: 6px 10px 8px 37px;
  background: url("../../img/icons/gal.png") 5px 50% no-repeat, url("../../img/icons/bage_green.png") 0 0 no-repeat, #ecf0f1;
  color: #1abc9c;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

.bage__in-stock_none {
  color: #e74c3c;
  background: url("../../img/icons/cross.png") 7px 50% no-repeat, url("../../img/icons/bage_red.png") 0 0 no-repeat, #ecf0f1;
}

.row__name {
  color: #34495e;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
}

.row__price {
  margin-top: 5px;
  text-align: center;
}

.price__old {
  color: #bdc3c7;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: line-through;
}

.price__actual {
  color: #2ecc71;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
}

.row__btn {
  margin-top: 15px;
  background-color: #2ecc71;
  padding: 14px 48px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.row__btn:hover {
  background-color: #34495e;
}

.row__btn-one-click {
  margin-top: 14px;
  color: #95a5a6;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}
.row__btn-one-click:after {
  content: "";
  height: 1px;
  display: block;
  margin-top: -2px;
  background: url("../../img/icons/btn_bb.png") 2px 0 no-repeat;
  width: 100%;
}
.row__btn-one-click:hover {
  color: #2ecc71;
}
.row__btn-one-click:hover::after {
  background: url("../../img/icons/btn_bb_green.png") 2px 0 no-repeat;
}

.row__btn-all {
  position: absolute;
  right: 0;
  bottom: 80px;
  display: inline-block;
  color: #95a5a6;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  border-bottom: 2px dashed #95a5a6;
}
.row__btn-all:hover {
  color: #34495e;
  border-color: #34495e;
}

.aboutUs {
  background: url("../../img/bg_green.png") 0 0, url("../../img/about_bg_img.png") 0 0/cover no-repeat;
}

.aboutUs__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 78px 0;
}

.aboutUs__title {
  color: #ffffff;
  margin-bottom: 67px;
}

.aboutUs__textAndImg {
  margin-bottom: 22px;
}
.aboutUs__textAndImg img {
  float: left;
  margin-right: 29px;
}

.aboutUs__textAndImg, .aboutUs__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: left;
}
.aboutUs__textAndImg p + p, .aboutUs__text p + p {
  margin-top: 21px;
}

.news__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0 80px 0;
}

.news__title {
  margin-bottom: 70px;
}

.news__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.news__item {
  max-width: 263px;
  display: flex;
  flex-direction: column;
}

.news__img img {
  max-width: 100%;
  height: auto;
}

.news__itemTitle {
  color: #34495e;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  margin: 13px 0 14px 0;
}

.news__date {
  color: #2ecc71;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  background: url("../../img/icons/Calendar.png") 0 2px no-repeat;
  padding: 0 0 0 25px;
}

.news__desc {
  flex-grow: 1;
  margin: 12px 0;
  color: #34495e;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
}

.news__btn {
  text-align: right;
}
.news__btn a {
  color: #2ecc71;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: right;
  border-bottom: 1px dashed #2ecc71;
}
.news__btn a:hover {
  color: #34495e;
  border-bottom: none;
}

.footer {
  background-color: #34495e;
}

.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0;
}

.menu-bottom li + li {
  margin-left: 20px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__contacts .phone {
  margin-left: 0;
  margin-bottom: 12px;
}
.footer__contacts .phone a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.footer__contacts .phone a span {
  font-weight: 400;
}

.email {
  padding: 0 0 0 20px;
  background: url("../../img/icons/mail.png") 0 50% no-repeat;
}
.email a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  line-height: normal;
}

.footer__social {
  display: flex;
  align-items: center;
}

.social__item {
  width: 34px;
  height: 34px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item:first-child {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.social__item:first-child a {
  color: #f9f9f9;
}

.social__item + .social__item {
  margin-left: 10px;
}

.footer__copyright {
  padding: 12px 0 20px 0;
  background-color: #2c3e50;
  text-align: center;
  color: #2ecc71;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
}