@media (max-width: 1170px){

	.container{
		max-width: 970px;
	}

	//// Header ////
	.header__logo{
		max-width: 220px;
		padding: 20px 0 0 0;
	}

	.header__block1{
		width: 350px;
	}

	//// Menu ////
	.menu{
		li{
			padding: 0 0 0 17px;
		}
	}
} 

